#player{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: black;
    margin: auto;
    z-index: 2;
}

body{
    position: relative;
    background-color: bisque;
    height: 90vh;
    width: 90vw;
}

#frontera{
    position: relative;
    width: 600px;
    height: 600px;
    left:35%;
    top:15.5%;   
}

#tablero{
    position: absolute;
    width: 600px;
    height: 600px;
    left:35%;
    top:15%;   
    z-index: 1;
}

#cabecera{
    width: 600px;
    height: 100px;
    position:absolute;
    top:8%;
    left:35%;    
}

.cab{
    border: 2px solid black;
    display: inline-block;
    width: 195px;
    height: 50px;
    text-align: center;
    margin: auto;
}
.trasera{
    width: 150px;
    height: 150px;
    background-image: url(https://dbdzm869oupei.cloudfront.net/img/sticker/preview/1955.png);
    background-size:contain;
    background-repeat: no-repeat;
    
}
.pareja1{
    width: 150px;
    height: 150px;
    background-color: aqua;
}
.pareja2{
    width: 150px;
    height: 150px;
    background-color: rgb(2, 37, 37);
}
.pareja3{
    width: 150px;
    height: 150px;
    background-color: rgb(223, 29, 103);
}
.pareja4{
    width: 150px;
    height: 150px;
    background-color: rgb(22, 204, 46);
}
.pareja5{
    width: 150px;
    height: 150px;
    background-color: rgb(59, 30, 184);
}
.pareja6{
    width: 150px;
    height: 150px;
    background-color: rgb(235, 243, 243);
}
.pareja7{
    width: 150px;
    height: 150px;
    background-color: rgb(172, 224, 27);
}
.pareja8{
    width: 150px;
    height: 150px;
    background-color: rgb(212, 24, 172);
}
