@font-face {
    font-family: "mariofont";
    src: url(extras/SuperMario256.ttf);
}

#player{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image:url("extras/marioplayer.gif");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    z-index: 2;
}

body{
    position: relative;
    background-image: url(extras/fondo.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    height: 90vh;
    width: 90vw;
}

#frontera{
    position: relative;
    width: 600px;
    height: 600px;
    left:35%;
    top:15.5%;   
}

#tablero{
    position: absolute;
    width: 600px;
    height: 600px;
    left:35%;
    top:15%;   
    z-index: 1;
    
}

#cabecera{
    width: 600px;
    height: 100px;
    position:absolute;
    top:5%;
    left:25%;   
     
}

.cab{
    
    display: inline-block;
    width: 250px;
    height: 50px;
    text-align: right;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 25px;
    font-family:"mariofont";
    font-size: 22px;
    
    color: white;
    
}
.seleccion{}
    

.trasera{
    width: 150px;
    height: 150px;
    background-image: url(extras/reverso.png);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    
    
    
}
.pareja1{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    
}
.pareja2{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    
}
.pareja3{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja3.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    
}
.pareja4{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja4.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    
}
.pareja5{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja5.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    
}
.pareja6{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja6.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    
}
.pareja7{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja7.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    
}
.bowser{
    width: 150px;
    height: 150px;
    background-image: url(extras/bowserfinal.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
    
}
#gameover{
    height: 700px;
    width: 700px;
    top:5%;
    left: 35%;
    background-image: url(extras/gameover.png);
    background-size:inherit;
    background-repeat: no-repeat;
    border: 4px solid black;
    opacity: 0;
    position: absolute;
    z-index: 2;
    border:5px solid white
}
#resetear{
    height:100px ;
    width:100px;
    position: absolute;
    left: 50%; 
    top: 35%;  
    z-index: 3;
    
}


#botonstart{
    margin: 45% 6%;
    height:135px ;
    width:136px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(extras/bloque.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "mariofont";
    font-size: 25px;
    letter-spacing:4px ;
    border: none;
    cursor: pointer;

}

#inicio{
    height: 700px;
    width: 700px;
    top:5%;
    left: 35%;
    background-image: url(extras/inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    border: 4px solid black;
    
}
#winner{
    height: 700px;
    width: 700px;
    top:5%;
    left: 35%;
    background-image: url(extras/scorefull.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid black;
    opacity: 0;
    position: absolute;
    z-index: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#puntosfinales{
   
    height: 200px;
    width: 650px;
    z-index: 2;
    text-align: end;
    font-size: 55px;
    margin-top: 20%;
    font-family: "mariofont";
    
}
#puntostiempo{
    
    height: 200px;
    width: 650px;
    z-index: 2;
    text-align: end;
    font-size: 55px;
    font-family: "mariofont";
}
#sumapuntos{
    
    height: 200px;
    width: 650px;
    z-index: 2;
    text-align: end;
    font-size: 55px;
    font-family: "mariofont";
    
}
#reloj{
height: 80px;
width: 80px;
background-image: url(extras/relojarena.gif);
background-size: contain;
background-repeat: no-repeat;
position:absolute;



}
#estrella{
    height: 80px;
    width: 80px;
    background-image: url(extras/moneda.gif);
    background-size:contain;
    background-repeat: no-repeat;
    position:absolute;
}
