@font-face {     /*añadimos una fuente externa*/
    font-family: "mariofont";
    src: url(extras/SuperMario256.ttf);
}

#player{
    position: absolute;
    height: 150px;
    width: 150px;
    background-image:url("extras/marioplayer.gif");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    z-index: 2;    /*usamos capas para superponer unas ante otras,a mayor es el numero mas arriba esta*/
}

body{
    position: relative;
    background-image: url(extras/fondo.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    height: 90vh;
    width: 90vw;
}

#frontera{
    position: relative;
    width: 600px;
    height: 600px;
    left:35%;
    top:15.5%;   
}

#tablero{
    position: absolute;
    width: 600px;
    height: 600px;
    left:35%;
    top:15%;   
    z-index: 1;   
}

#cabecera{
    width: 600px;
    height: 100px;
    position:absolute;
    top:5%;
    left:25%;      
}

.cab{
    display: inline-block;
    width: 250px;
    height: 50px;
    text-align: right;
    justify-content: center;
    padding-top: 20px;
    padding-right: 20px;
    margin-left: 25px;
    font-family:"mariofont";
    font-size: 22px;
    color: white;
}

.trasera{
    width: 150px;
    height: 150px;
    background-image: url(extras/reverso.png);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;   /*con estas 3 propiedades de abajo se logra el efectillo ese guapo 3d*/
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.pareja1{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja1.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
}

.pareja2{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;  
}

.pareja3{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja3.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d; 
}

.pareja4{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja4.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
}

.pareja5{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja5.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
}

.pareja6{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja6.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
}

.pareja7{
    width: 150px;
    height: 150px;
    background-image: url(extras/pareja7.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;  
}

.bowser{
    width: 150px;
    height: 150px;
    background-image: url(extras/bowserfinal.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease;
    transform-style: preserve-3d;
}

#soygif{
    background-image: url(extras/gameovergif.gif);
    background-size:contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 700px;
    z-index: 2;
}

#gameover{
    height: 700px;
    width: 700px;
    top:5%;
    left: 35%;
    background-image: url(extras/gameover.png);
    background-size:inherit;
    background-repeat: no-repeat;
    border: 4px solid black;
    opacity: 0;
    position: absolute;
    z-index: 2;
    border:5px solid white
}

#resetear{
    height:120px ;
    width:120px;
    position: absolute;
    left: 40%; 
    top: 65%;  
    z-index: 3;
    background-color: white;
    background-image: url(extras/concha.gif);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;    /*para que el cursor cambie al pasarlo por encima*/
    border-radius: 90px;   /*redondear los bordes*/
    border: 6px solid black;
}

#resetear:hover{  /*para que al pasar el raton por encima cambie el fondo de color*/
    background-color:red;
}

#botonstart{
    margin: 45% 6%;
    height:135px ;
    width:136px ;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(extras/cubo.gif);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-family: "mariofont";
    font-size: 25px;
    letter-spacing:5px ;
    cursor: pointer;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black; 
    /*con esta propiedad de arriba se logra un efecto como de sombreado porque  la fuente se veia horrorosa */
}

#inicio{
    height: 700px;
    width: 700px;
    top:5%;
    left: 35%;
    background-image: url(extras/inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    border: 4px solid black;
}

#winner{
    height: 700px;
    width: 700px;
    top:5%;
    left: 35%;
    background-image: url(extras/scorefull.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid black;
    opacity: 0;
    position: absolute;
    z-index: 2; 
}

#puntosfinales{
    height: 200px;
    width: 650px;
    z-index: 2;
    text-align: end;
    font-size: 55px;
    margin-top: 20%;
    font-family: "mariofont"; 
}

#puntostiempo{
    height: 200px;
    width: 650px;
    z-index: 2;
    text-align: end;
    font-size: 55px;
    font-family: "mariofont";
}

#sumapuntos{
    height: 200px;
    width: 650px;
    z-index: 2;
    text-align: end;
    font-size: 55px;
    font-family: "mariofont";
}

#reloj{
    height: 80px;
    width: 80px;
    background-image: url(extras/relojarena.gif);
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
}

#estrella{
    height: 80px;
    width: 80px;
    background-image: url(extras/moneda.gif);
    background-size:contain;
    background-repeat: no-repeat;
    position:absolute;
}

.balas{
    width: 70px;
    height: 70px;
    background-image: url(extras/bala.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
}

#botoncontrol{
    height: 150px;
    width: 150px; 
    background-color: transparent;
    border: none;
    background-image: url(extras/mandogif.gif);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left:6%;
    top:6%;
    cursor: pointer;
}

#controles{
    height: 300px;
    width: 400px;
    background-image: url(extras/pantallacontroles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:25%;
    left:0%;
    border: 4px solid black;
    border-radius: 50px;
}

#botonaudio{
    height: 100px;
    width: 100px;
    border: 4px solid black;
    background-color: white;
    background-image: url(extras/audio.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100px;
    position: absolute;
    top: 8%;
    left: 16%; 
    cursor: pointer;
}